rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email != null &&
        (
          request.auth.token.email in [
            "gashaw7abi@gmail.com", "Gashaw7abi@gmail.com",
            "gashaw0abi@gmail.com", "Gashaw0abi@gmail.com",
            "gashaw1abi@gmail.com", "Gashaw1abi@gmail.com"
          ] ||
          request.auth.token.email.lower() in [
            "gashaw7abi@gmail.com",
            "gashaw0abi@gmail.com",
            "gashaw1abi@gmail.com"
          ]
        );
    }

    match /custom_news/{documentId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /stats/{documentId} {
      allow read: if isAdmin();
      allow write: if true;
    }
  }
}

